body {
    margin : 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding : 32px 64px;
    align-items: center;
    color: black;
}

nav ul {
    margin : 0;
    padding : 0;
}

header ul li {
    list-style: none; /* enlever la puce */
}

header ul li a {
    text-decoration: none; /* enlever le soulignement */
    color: red;
}

header a:hover{
    color: black;
}
header h3{
    margin: 0;
}

hr{
    margin: 0;
}